RESEND_API_KEY=re_5RB8y6Pr_H8MN6Nw91FYBaTA6SJRkJEZa
RESEND_FROM_EMAIL=info@svayatta.in
RESEND_FROM_NAME=Svayatta
DZEN_NOTIFICATION_EMAIL=sohamboridkar@svayatta.in
CALENDAR_TIMEZONE=Asia/Kolkata
CALENDAR_EVENT_DURATION_MINUTES=30
